<!DOCTYPE html>

<html lang="en">

<%- include('part/head') %>

<script src="lib/codemirror.js"></script>
<link rel="stylesheet" href="lib/codemirror.css">
<script src="mode/clike/clike.js"></script>
<script src="mode/javascript/javascript.js"></script>
<script src="mode/python/python.js"></script>

<body>

    <%- include('part/header') %>

    <div class="mainBody">
        <p>New Paste</p>

        <textarea name="main" id="main" class="main" placeholder=""></textarea> 

        <hr>

        <div id="infoContainer">

            <div class="flex-col">
                <label class="labelCol" for="syntax">syntax :</label>
                <label class="labelCol" for="expiration">expiration :</label>
                <label class="labelCol" for="name">name :</label>
            </div>

            <div class="flex-col">
                <select name="syntax" id="syntax" class="info">
                    <option value="C">C</option>
                    <option value="Java">Java</option>
                    <option value="Javascript">Javascript</option>
                    <option value="Python">Python</option>
                </select>

                <select name="expiration" id="expiration" class="info">
                    <option value="never">never</option>
                    <option value="5 minutes">5 minutes</option>
                    <option value="1 hour">1 hour</option>
                    <option value="1 day">1 day</option>
                    <option value="1 month">1 month</option>
                    <option value="1 year">1 year</option>
                </select>

                <input type="text" id="name" name="name" class="info">
            </div>

        </div>

        <button onclick="sendRequest()">Save</button>        
    </div>

    <script src='javascripts/script.js'></script>
    
</body>

</html>